.top-header{
    height: 180px;
    width: 100%;
    background: #F95E66;
    padding-top: 130px
}
.top-header .navbar{

}
.breadcrumb{
    margin-top: 15px;
}
.navbar-default{
    background: #F95E66;
    border:none;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#FFF;}
.navbar-default .navbar-text{color:#FFF}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background:  #FFF;
    color: #F95E66
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #F95E66;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #FFF;
    color: #F95E66;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #FFF;
}

span.required,.errorMessage{
    color:red;
}
.errorSummary{
    border:2px solid #C00;
    background:#FEE;
    font-size:.9em;
    margin:0 0 20px;
    padding:7px 7px 12px;
}
.errorSummary p{
    margin:0;
    padding:5px;
}
.errorSummary ul{
    color:red;
    margin:0;
    padding:0 0 0 20px;
}
/**
*重写分页样式
*/
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin:0 4px 0 0}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden{display:none}